.grid {
	display: flex;
	flex-wrap: wrap;
	height: 560px;
	width: 560px;
	border: solid black;
}

.grid div {
	width: 20px;
	height: 20px;
}

.pac-dot {
	background-color: yellowgreen;
	border: 5px solid white;
	box-sizing: border-box;
}

.power-pellet {
	background-color: green;
	border-radius: 10px;
}

.wall {
	background-color: blue;
}

.pac-man {
	background-color: yellow;
	border-radius: 10px;
}

.blinky {
	background-color: red;
	border: 0px;
}

.pinky {
	background-color: pink;
	border: 0px;
}

.inky {
	background-color: blue;
	border: 0px;
}

.clyde {
	background-color: orange;
	border: 0px;
}

.scared-ghost {
	background-color: aquamarine;
	border: 0px;
}
